/// @file page_puzzle.css
/// @brief Module for wordpress puzzle page of the SunnyDay project.

#puzzle {
}

#mobile_puzzle {
}

table.board {
	width: 100%;
	border: 2px solid black;
}

tr.board {
	border: 0;
}

td.board {
	width: 11.11%;
	padding-top: 9.6%;
	position: relative;
}

td.bottom {
	border-bottom: 4px solid maroon;
}

td.left {
	border-left: 4px solid maroon;
}

div.board {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border: 2px solid black;
}

div.board_content {
	text-align: center;
	font-size: xx-large;

	height: 100%;
	border: 2px solid white;
}

div.board_mobilecontent {
	text-align: center;
	font-size: normal;

	height: 100%;
	border: 2px solid white;
}

table.note {
	table-layout: fixed;
}

tr.note {
}

td.note {
	width: 33%;
	padding-top: 1%;
	position: relative;
	border: 0;
}

div.note {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

div.mobilenote {
	position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
}

div.note_content {	
	text-align: center; 
	font-size: small;

	height: 100%;
}

div.note_mobilecontent {
	text-align: center;
        font-size: xx-small;

        height: 100%;
}

table.input {
	width: 100%;
	border: 2px solid black;
}

td.input {
	width: 10%;
	padding-top: 7.3%;
	position: relative;

	background-color: lightgray;
}

div.input {
	position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

	border: 2px solid black;
}

div.input_content {
        text-align: center;
        font-size: x-large;
	font-weight: bold;

	height: 100%;
	border: 2px solid white;
}

div.input_mobilecontent {
        text-align: center;
        font-size: small;

        height: 100%;
        border: 2px solid white;
}

